<header id="header">
	<div class="header_wrap">
		<h1 class="logo"><a href="/">LOGO</a></h1>
		<nav id="nav">
			<ul class="gnb">
				<li><a href="/ball">Ball</a></li>
				<li><a href="/jump">Jump</a></li>
			</ul>
		</nav>
	</div>
</header>